.concierge {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  @apply flex flex-col ;
  gap: 6rem;
  width: 1100px;
  max-width: 75%;
  z-index: 0;
  align-items: center;
  @screen tablet {
    display: grid;
  grid-template-columns: 1fr 300px;
  }
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.container h3 {
 @apply  font-bold text-[2rem];
  @screen laptop{
    font-size: calc(4.8rem * var(--scale));
  }
}
.container ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 1.5rem;
}
.container li {
  @apply  text-[1.3rem] ;
  @screen laptop{
    font-size: calc(2.3rem * var(--scale));
    font-weight: 400;
  }
}

.image {
  border-radius: 0.25rem;
}
