.--reservation_details_partners{
    @apply w-full h-auto mt-[30rem] pb-[10rem]  px-[2rem] ; 
    @screen laptop{
        @apply mt-0;
        padding-left: calc(10rem * var(--scale));
        padding-right: calc(10rem * var(--scale));
        padding-top: calc(5rem * var(--scale));
        padding-bottom: calc(5rem * var(--scale));
    }
}

.box_datils-partners-reservations--{
    @apply flex flex-col gap-[1rem]  w-full h-auto  ;
    @screen laptop {
        gap: calc(4rem * var(--scale));
    }
}


.details_partners_title_dates{
    @apply flex items-center gap-[1rem]  ;
}

.box_icon_presencial{
    @apply  w-[8rem] h-[8rem] rounded-[4rem]  bg-[#4D3452]  grid place-items-center;
    @screen laptop{
        width: calc(10rem * var(--scale));
        height: calc(10rem * var(--scale));
        border-radius: calc(4rem * var(--scale));
    }
}
.details_partners_title_type_-{
    @apply flex flex-col gap-[.5rem] ;
    & h2 {
        @apply text-[2.5rem] text-[#F89C53]  font-bold ;
        @screen laptop {
            font-size: calc(3rem *  var(--scale));
        }
    }
    & p{
        @apply text-[1.5rem]  font-bold text-[white] ;
        @screen laptop {
            font-size: calc(2rem *  var(--scale));
        }
    }
}


.details_partners_fecha---{
    @apply flex items-center gap-[1rem] text-[1.3rem]  font-bold text-[white];
    @screen tablet{
        @apply text-[2rem] ;
    }
    @screen laptop {
        font-size: calc(2.8rem *  var(--scale));
    }

    & p{

        @screen laptop {
            font-size: calc(2.5rem *  var(--scale));
        }

    }
}

.details_partners_dates-client{
    @apply w-full flex flex-col gap-[1rem] h-auto  bg-[#2F2A32] p-[1.5rem];
    
    @screen laptop {
        gap: calc(1.2rem *  var(--scale));
    }
    & p {
        @apply text-[1.3rem]   text-[#F89C53];
        @screen laptop{
            font-size: calc(1.7rem * var(--scale));
        }
    }
}

.details_partners_name_calification{
    @apply flex items-center gap-[1rem]  ;
    & h3 {
        @apply text-[1.8rem]  font-bold  text-[white];
        @screen laptop{
            font-size: calc(2.7rem * var(--scale));
        }
    }
    & p{
        @apply  text-[1.3rem]  font-bold text-[white] ;
        @screen laptop{
            font-size: calc(1.8rem * var(--scale));
        }
    }
   
}

.contenainer-new-order{
    @apply  flex flex-col gap-[.6rem] ;
    @screen tablet {
        @apply flex-row justify-between;
    }
}



.numeros_order_etc{
    @apply flex flex-col;
}
.order-codig {
 @apply   flex items-center gap-[.5rem];
 & h3{
    @apply  text-[#F89C53] font-extrabold text-[1.8rem]; 
    @screen laptop{
        font-size: calc(2.5rem * var(--scale));
    }
 }
 & p {
    @apply  text-[#F89C53] font-extrabold text-[1.8rem]; 
    @screen laptop{
        font-size: calc(2.5rem * var(--scale));
    }
 }
}

.reserva-codigs{
    @apply   flex items-center gap-[.5rem];
    & h4{
       @apply  text-[white]  text-[1.4rem]; 
    }
   
}



.boxt-partner-details-general-coten{
    @apply flex flex-col gap-[1rem]  h-auto  ;
    @screen laptop {
        gap: calc(2rem * var(--scale));
    }
    
   
}

.detailt-partners_califications{
    @apply flex items-center gap-[.5rem] ;
}


.datails_partner_information__price_{
    @apply flex flex-col gap-[1.5rem]  ;
    @screen tablet {
        @apply flex-row items-center;
    }
    
}


.details_partnet_prices__{
    @apply flex justify-between px-[1rem] items-center rounded-[1rem] h-[5rem] gap-[.5rem] w-full bg-[#373238];
    @screen tablet{
        @apply flex-col items-start  justify-evenly h-[7rem];
    }
    @screen laptop{
        width : calc(35.2rem * var(--scale));
        height : calc(6.6rem * var(--scale));
    }
    
    & p{
        @apply  text-[1.7rem]  font-bold text-[white]
    }
    & h3 {
        @apply text-[1.7rem]   font-bold text-[#F89C53];
    }
}

.details_partnet_extras__{
    @apply flex justify-between px-[1rem] items-center rounded-[1rem] h-[5rem] gap-[.5rem] w-full bg-[#373238];
    @screen tablet{
        @apply flex-col items-start justify-evenly h-[7rem];
    }
    @screen laptop{
        height : calc(6.6rem * var(--scale));
    }
    & p{
        @apply  text-[1.5rem]  font-bold text-[white]
    }
    & h3 {
        @apply text-[1.5rem]  font-bold text-[#F89C53];
    }
}

.details_partnet_coment__{
    @apply flex justify-between px-[1rem] items-center rounded-[1rem] h-[5rem] gap-[.5rem] w-full bg-[#373238];
    @screen tablet{
        @apply flex-col items-start  justify-evenly h-[7rem];
    }
    @screen laptop{
        height : calc(6.6rem * var(--scale));
    }
    
    & p{
        @apply  text-[1.5rem]  font-bold  text-[white]
    }
    & h3 {
        @apply text-[1.5rem]  font-bold text-[#F89C53];
    }
}


.details_partnet_status__{
    @apply flex justify-between px-[1rem] items-center rounded-[1rem] h-[5rem] gap-[.5rem] w-full bg-[#4D3452];
    @screen tablet{
        @apply flex justify-evenly h-[7rem];
    }
    @screen laptop{
        height : calc(5.2rem * var(--scale));
        width: calc(50.1rem * var(--scale));
    }
    
    & p{
        @apply  text-[1.5rem]  font-bold  text-[white]
    }
    
}