.ModalSession-container {
  @apply flex flex-col gap-[1.5rem];
}

.ModalSession-title {
  font-size: 28px;
  color: #100A11;
  text-transform: uppercase;
  text-align: center
}
.ModalSession-text {
  @apply text-[1.8rem] text-center text-[#4D3452] font-bold ;
}
.modalSession-span {
  color: #4d3452;
  @apply text-[1.5rem] block text-center text-[#100A11] font-normal  underline;
}
.modalSession-button {
  @apply text-[1.5rem] block text-center text-[#F0EFEB] bg-[#4D3452] font-normal  py-[1rem] px-[4rem];
  border-radius: 5rem;
  /* @screen laptop {
    @apply hidden;
  } */
}
.modalSession-buttons {
  @apply text-[1.5rem] block text-center  bg-[#e1d4c4] font-normal  py-[1rem] px-[4rem];
  border-radius: 5rem;
  @screen laptop {
    @apply hidden;
  }
}
.modalSession-buttons .option span{
  @apply text-[#4d3452]   text-[1.5rem] font-bold;
}
.modalSession-buttons .buttons-icon{
  @apply text-[#4d3452]   text-[1.5rem] font-bold;
}

.facebook-icon {
  @apply !bg-[#FFF]  w-[10rem] h-[10rem] text-[#000]  font-bold !text-[1.1rem] p-[.5rem] laptop:p-[2rem] flex justify-center items-center flex-col;
  i {
    @apply text-[#3C5A9A] text-[3rem];
    @screen laptop {
      @apply text-[4rem];
    }
  }
  @screen laptop {
    font-size: calc(1.6rem * var(--scale)) !important ;
    width: calc(15.6rem * var(--scale));
    height: calc(15.6rem * var(--scale));
  }
  border-radius: 1rem;
  background: #fff;
}



.container-socials {
  @apply flex justify-center gap-[0rem] pt-[2rem];
  button{
    margin-right: 15px;
  }
  span{
    margin-left: 15px;
  }
}

.modalsession {
  .p-dialog-header {
    background: #f0efeb;
  }
  .p-dialog-content {
    @apply p-0;
  }
  .p-dialog-header-icons {
    @apply absolute right-[2rem] top-[2rem];
  }
}
