.homeSocial {
  @apply  w-[89.5%]  m-auto grid place-items-center;
  padding-bottom: 60px;
}
.homeSocial_info {
  @apply w-full h-[7rem] flex flex-col gap-[2rem] items-center justify-between;

  @screen laptop {
    @apply flex-row w-[77rem] h-[7rem];
  }

  &-icons {
    @apply flex gap-[3rem];

    @screen laptop {
      gap: calc(2rem * var(--scale));
    }
  }
}

.homeSocial_info_h3 {
  @apply !text-[#E1D4C4]  font-lato;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  @screen laptop {
    @apply flex  w-full;
    white-space: nowrap;
  }
}

.homeSocial_info_icon {
  @apply w-[5.1rem] h-[5.1rem] grid place-items-center;
  svg{
    font-size: 20px;
    width: 25px;
  }
  @screen laptop {
    width: calc(7rem * var(--scale));
    height: calc(7rem * var(--scale));
  }
}
.homeSocial_info_icon-two {
  @apply grid place-items-center cursor-pointer;

  @screen laptop {
    /* width: calc(2rem * var(--scale));
    height: calc(2.5rem * var(--scale)); */
  }
}
