:root {
  --c-1: #E1D4C4;
  --c-2: #e1d4c4;
  --c-3: #a59484;
  --c-4: #faab60;
  --c-5: #f89c53;
  --c-6: #393533;
  --c-7: #7442b0;
  --c-8: #4d3452;
  --c-9: #252127; /* fondo default */


  --crema:#e1d4c4;
  --negro: #252127;
  --naranja: #f89c53;
  --naranjanew:#F0A160;
  --negroBold: #161417;
  --morado: #4d3452;
  --negroOscuro:#000;
}
