.list_suggestions_box{
    @apply h-auto flex justify-center w-full m-auto mt-[25rem] 
   p-[2rem];
   @screen tablet{
    @apply p-[2rem] ;
   }
    @screen laptop {
        @apply mt-0;
    }
}

.list_suggestion_title{
    @apply  flex justify-between  items-center;
    & h2 {
        @apply text-[#E1D4C4] text-start font-lato font-bold text-[1.8rem];
        @screen laptop{
            @apply text-[#E1D4C4] font-lato font-bold ;
            font-size: calc(3rem * var(--scale));
        }
    }
    & .list_suggestion_btn{
        @apply bg-[#F89C53] font-lato font-semibold flex justify-center items-center text-[#252127] rounded-[1rem]
        w-[15rem] h-[3rem] gap-[1rem] text-[1.2rem];
        @screen laptop{
            width: calc(27rem * var(--scale));
            height: calc(4.4rem * var(--scale));
            font-size: calc(1.5rem * var(--scale));
            gap: calc(2rem * var(--scale));
        }
        & span {
            @apply text-[#252127] font-lato font-bold;
            @screen laptop{
                font-size: calc(1.8rem * var(--scale));
            }
        }
        & p{
            @apply text-[#252127] font-lato font-bold;
            @screen laptop{
                font-size: calc(1.8rem * var(--scale));
            }
        }
    }
   
}

.box_suggestion_list_box{
    @apply  flex flex-col gap-[3rem] w-full  ;
    @screen laptop{
        @apply flex flex-col  gap-[3rem] h-full  ;
        width: calc(153rem * var(--scale));
        /* padding: calc(3rem * var(--scale)); */
    }
    
}




.box_all_suggestion_and_dates{
    @apply flex flex-col gap-[2rem] h-auto    px-[0rem]  w-full ;
    @screen laptop{
         gap: calc(2rem * var(--scale));
         /* height: calc(80rem * var(--scale)); */
    }
}


.suggestion-asset_all{
    @apply w-full min-h-[8.5rem]  bg-[#2F2A30] flex items-center justify-between px-[.5rem];
     @screen tablet {
        @apply w-[100%] min-h-[10.5rem] px-[2rem];
     }
    @screen laptop {
        width: 100%;
        min-height: calc(16.5rem * var(--scale));
    }
    & .h2-h2 {
        @apply w-[60%] text-[#F89C53] text-start font-lato font-bold text-[1.7rem];
        @screen tablet {
            @apply text-[2.2rem]
        }
        @screen laptop{
            font-size: calc(3rem * var(--scale));
        }
    }
}


.suggestion-asset_all-price_btns{
    @apply flex h-full w-[100%]  justify-between items-center gap-[2rem]   ;
    @screen phonelg{
        @apply  w-[100%];
    }
   
    @screen laptop{
        @apply w-[75%] ;
    }
}

.suggestion_asset-price {
    @apply  flex items-center gap-[.5rem];
    & h2{
        @apply text-[#F89C53]  font-lato font-bold text-[1.2rem];
        @screen tablet{
            @apply text-[1.6rem] ;
        }
        @screen laptop{
            font-size: calc(2.2rem * var(--scale));
        }
    }
    & h3 {
        @apply  text-[#E1D4C4] font-lato font-bold text-[1.2rem];
        @screen tablet{
            @apply text-[1.6rem] ;
        }
        @screen laptop{
            font-size: calc(2.2rem * var(--scale));
        }
    }
}

.suggestion-asset_btns_all{
    @apply flex gap-[1rem] ;
    @screen laptop{
        gap: calc(3rem * var(--scale));
    }
    & button{
        @apply border rounded-[.5rem] font-lato font-bold w-[5.5rem] h-[2.5rem] text-[1rem];
        @screen tablet{
            @apply  w-[10rem] h-[3rem] text-[1.5rem];
        }
        @screen laptop{
            width: calc(15.4rem * var(--scale));
            height: calc(6.4rem * var(--scale));
            font-size: calc(2rem  * var(--scale));
        }
    }
    
}


.suggestion_activo {
    @apply  flex  items-center justify-center gap-[.5rem] bg-[#4D3452]  
    rounded-[.5rem] w-[6rem] h-[2.5rem];
    @screen tablet{
        @apply  w-[10rem] h-[3.1rem] ;
    }
    @screen laptop{
        width: calc(15.4rem * var(--scale));
        height: calc(6.4rem * var(--scale));
    }
    & p{
        @apply text-[1.1rem] font-lato font-bold;
        @screen tablet{
            @apply text-[1.5rem] ;
        }
        @screen laptop{
            font-size: calc(2rem  * var(--scale));
        }
    }
}


.paginations_list_sugessstion{
    @apply  w-full h-[5rem] flex justify-center items-center ;
    & h3 {
        @apply cursor-pointer font-lato font-bold text-[#E1D4C4] duration-300 ease-in-out hover:text-[#F89C53];
    }
}