.reserva_exitosa_general_container{

  display: flex;
justify-content: center;
align-items: center;


}

.reserva_exitosa {
  @apply w-full h-auto bg-[#242026] px-[2rem];
  @screen tablet {
    @apply flex-row justify-between mt-[-9.3rem] py-[15rem];
  }
  @screen laptop {
    @apply flex;
    padding-left: calc(8.5rem * var(--scale));
    padding-right: calc(8.5rem * var(--scale));
    gap: calc(4.5rem * var(--scale));
    width:240em;
  }
}

.reserva_exitosa-container {
  @apply pt-[12.3rem];
  @screen laptop {
    @apply pt-0;
  }
  
}

.reservas_card {
  @apply w-full  h-auto flex flex-col py-[4rem];
  @screen laptop {
    @apply pt-0;
  }
}

.reserva-exitosaQr {
  @apply flex flex-col gap-[1.2rem] my-[4.5rem] bg-[#2F2A32] rounded-[1.5rem] ;
  padding: 25px;
  @screen tablet {
    @apply  gap-[.5rem];
  }
  @screen laptop {
    height : calc(28.2 * var(--scale));
    padding-left: calc(5rem * var(--scale));
    padding-right: calc(5rem * var(--scale));
    padding-top: calc(2rem * var(--scale));
    padding-bottom: calc(2rem * var(--scale));
    @apply flex flex-col;
    gap: calc(1.2rem * var(--scale));
  }
  & p {
    @screen laptop{
      font-size: calc(1.6rem * var(--scale));
    }
  }
}
.reserva-exitosaQr-text {
  @apply flex flex-col items-center gap-[.5rem] ;
  & h4 {
    @apply text-[#E1D4C4] text-[1.7rem]  ;
    @screen laptop{
      font-size: calc(2.2rem * var(--scale)) !important;
    }
  }
  & .code-reserva-exitosa-h2{
    @apply text-[#F89C53] font-extrabold  ;

  }
}

.reserva-exitosaQr-p {
  @screen laptop {
    @apply text-[#E1D4C4];
    font-size: calc(1.6rem * var(--scale));
    line-height: calc(1.6rem * var(--scale));
  }
}
.text-destok {
  @apply text-[1.6rem];
  @screen laptop {
    font-size: calc(1.6rem * var(--scale));
  }
}
.reserva-exitosaQr-textcontents {
  @apply text-center  text-[#E1D4C4];
  @screen laptop {

  }
}

.reserva-exitosaQr-textcontents-two-p{
  @apply text-center  text-[#E1D4C4] font-bold ;
  @screen laptop {
  }
}


.container-qr-card {
  @apply pt-[3rem];
  @screen laptop {
    margin-top: 25px;
    padding-top:0;
  }
}


.text-reservation-exi{
  @apply w-full text-[#E1D4C4] flex flex-col items-center gap-[1.4rem]  text-center leading-8;
  @screen laptop{
    gap: calc(1.2rem * var(--scale));
  }
  & h6 {
    @screen laptop{
      @apply    font-medium  ;

      line-height: auto;
    }
  }
}

.reservations-exi-p-two{
  @apply text-[1rem] ;
  @screen laptop{
    @apply  text-[#E1D4C4]    leading-10 ;
    font-size: 10px !important;
    line-height: normal;
  }
}
