.validate_box{
    @apply w-full h-screen bg-[#252127] mt-[5rem] flex items-center 
    justify-center pb-[10rem];
   
    @screen laptop{
        @apply h-[80vh] mt-0;
    }
}

.validate_{
    @apply w-[30rem]  min-h-[30rem] mt-[15rem]  flex flex-col gap-[4rem] items-center ;
    @screen tablet{
        @apply h-[30rem] text-center flex flex-col gap-[5rem]
    }
    @screen laptop {
       
        width: calc(50rem * var(--scale));
    }
    
}

.validate_ h2{
    @apply text-[2.5rem] text-[#F89C53]  font-extrabold;
    @screen laptop{
        font-size: calc(4rem * var(--scale));
      
    } 
}

.validate_ h3 {
    @apply text-[1.6rem] text-center  font-medium
    text-[#E1D4C4] ;
    @screen laptop{
        font-size: calc(2.4rem * var(--scale));
      
    } 
}


.validate_confirmend{
    @apply w-full h-[40rem] ;
    @screen tablet{
        margin-top: 15rem;
    }
    @screen laptop{
        margin-top: calc(5rem * var(--scale));
      
    } 
}



.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #f89c53;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }